body {
	font-family: 'Swallow_Falls', cursive;
	background: rgb(253, 231, 26);
}
h1 {
	font-size: 120px;
	margin: 0px;
}
p {
	font-size: 30px;
}
a {
	color: white;
	font-size: 20px;
}
header {
	text-align: center;
	background: url("http://www.oxford-panoramas.co.uk/myimages/oxmistsl.jpg"); 
	background-size: cover;
	color: white
}
ul {
        padding: 40px;
	background: rgba(243, 250, 182, 0.5);    
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
.socialmedia {
	float: right;
	padding: 0px 0px 10px 0px;
}
.features {
	float: left;
	padding: 0px 0px 10px 0px;

}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    line-height: 1;
    width: 100%;
}
.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-image {
    min-width: 100%;
    max-width: 100%;
}

#myCarousel h3, blockquote {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
}

#myCarousel p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.carousel-caption {
    float: center;
    margin: auto;
    text-align: center;
    display: block;
}

blockquote {
    text-align: center;
    vertical-align: middle;
    border: none;
    border-top: 2px solid #ffb300;
    border-bottom: 2px solid #ffb300;
}
blockquote footer {
    color: #ffb300;
}
.testimonial {
    top:50%;
    transform: translateY(-50%);
    bottom:initial;
}
