body {
	font-family: 'Swallow_Falls', cursive;
}
a {
	color: white;
}
.container {
	text-align: center;
	background: rgba(10, 120, 140, 1); 
	background-image: img src='oxfordskyline.jpg';
	background-size: cover;
	color: white
}
ul {
        padding: 20px;
	background: rgba(243, 250, 182, 0.5);    
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
.socialmedia {
	float: right;
	padding: 0px 0px 10px 0px;
}
.features {
	float: left;
}
